header,
footer {
	background-color: bisque;
	line-height: 5vh;
	width: 80%;
	text-align: center;
	font-weight: 700;
	font-size: 32px;
}

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	padding: 10px;
}

section {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.yellow {
	border: solid darkgoldenrod 10px;
	width: 25%;
	height: 25vh;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.green {
	border: solid darkgreen 10px;
	width: 25%;
	height: 25vh;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.titleSection {
	font-weight: 700;
	font-size: 18px;
}
